@if(inventory is not null)
{
    <tr>
        <td>@inventory.InventoryName</td>
        <td>@inventory.Price PLN</td>
        <td>@inventory.Quantity</td>
        <td>@(@inventory.Price * @inventory.Quantity) PLN</td>
        <td>
            <a class="btn btn-light"
                    type="button"
            href="/editinventory/@inventory.InventoryId">
                EDIT
            </a>
        </td>
    </tr>
}

@code {
    [Parameter]
    public Inventory? inventory { get; set; }
}
